.header {
    background-color: transparent;
    min-height: unset;
    position: absolute;
    z-index: 9999;
    transition: background-color 200ms linear;
}

.header.active {
    position: fixed;
    top: 0;
    background-color: var(--white);
    transition: background-color 200ms linear;
}

.header.active .topnav-content-sm svg {
    fill: var(--black);
}

.header.active .container .nav {
    color: var(--black);
}

.header.active .nav::before {
    background-color: var(--primary);
}

.header.active .btn {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.header.active .dropdown-holder a {
    color: var(--black);
}

.header.active .dropdown-holder.active .dropdown a {
    color: var(--black);
}

.header .row {
    width: 100%;
    min-height: unset;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
    margin: 0 auto;
    background-color: transparent;
}

.header .logo,
.footer .logo {
    width: 100px;
}

.header .nav-logo {
    margin-right: auto;
}

.header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.header .container .nav {
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 1;
    transition: var(--transition);
}

.header .container .nav:hover {
    transition: var(--transition);
}

.header .primary-btn {
    margin-top: 0;
}

.header .topnav-content-sm {
    display: none;
}

.header .small-menu-wrapper {
    display: none;
}

.nav {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
}

.nav::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header .nav::before {
    background-color: var(--white);
}

.nav:hover::before {
    transform: scaleX(1);
}

/* LANGUAGE DROPDOWN */

.header .dropdown-holder {
    position: relative;
}

.header .dropdown-holder.active {
    display: inline-block;
}

.header .dropdown-holder a {
    color: var(--white);
}

.header .dropdown-holder:hover {
    cursor: pointer;
}

.header .dropdown-holder i {
    margin-left: 10px;
}

.header .dropdown-holder .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: var(--primary);
    background-color: var(--white);
    box-shadow: var(--boxShadow);
}

.header .dropdown-holder.active .dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    transition: var(--transition);
}

.header .dropdown-holder.active .dropdown a {
    color: var(--primary);
    margin: 5px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black);
}

.header .dropdown-holder.active .dropdown .last {
    border-bottom: none;
    padding-bottom: 0;
}

.header .small-menu-wrapper .dropdown-holder a {
    color: var(--primary);
}

.footer {
    min-height: unset;
    color: var(--white);
    background-color: var(--black);
}

.footer a {
    color: var(--white);
    transition: 0.5s;
}

.footer a:hover {
    color: var(--primary);
    transition: 0.5s;
}

.footer .row {
    min-height: unset;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 0 30px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.socials a {
    font-size: 24px;
}

.socials img {
    max-width: 30px;
    transition: var(--transition);
}

.socials img:hover {
    transform: scale(1.10);
    transition: var(--transition);
}

.made-by {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.made-by p,
.made-by a {
    color: var(--white);
    opacity: 0.7;
    transition: var(--transition);
}

.made-by a:hover {
    color: var(--white);
    opacity: 1;
    transition: var(--transition);
}

.footer .legal {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media (max-width: 560px) {
    .header .row {
        display: none;
    }

    .header .topnav-content-sm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
    }

    .header .small-menu-content {
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        background-color: var(--white);
    }


    .header .topnav-content-sm svg {
        fill: var(--white);
        width: 25px;
    }

    .header .topnav-content-sm svg:hover {
        cursor: pointer;
    }

    .header .logo,
    .footer .logo {
        width: 50px;
    }
}