.banner {
    background-image: url('/tours/img/banner.jpg');
}

.banner .overlay {
    opacity: 0.8;
}

.wrapper.prices-wrapper {
    gap: 40px;
}

.wrapper.prices-wrapper .card {
    background-color: var(--light-grey);
    padding: 30px;
}

.wrapper.prices-wrapper .card h3 {
    font-size: 26px;
}

.wrapper.prices-wrapper .card ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
}

.wrapper.prices-wrapper .card h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 40px 0 20px 0;
}

.wrapper.prices-wrapper .card ul:nth-of-type(2) {
    margin-bottom: 20px;
}

.wrapper.prices-wrapper .card .btn {
    margin-top: auto;
}

.wrapper.prices-wrapper .card.focus {
    border: 2px solid var(--primary);
}

.wrapper.prices-wrapper .heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.wrapper.prices-wrapper .tag {
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: var(--borderRadius);
}