.banner {
    justify-content: center;
    height: 55vh;
    background-image: url('/book/img/image8.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}