.banner {
    justify-content: center;
    height: 80vh;
    background-image: url('/mission/img/banner-new.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner h1 {
    margin-top: 60px;
}

.banner .overlay {
    opacity: 0.5;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

@media (max-width: 560px) {
    .banner {
        background-position: 25% center;
    }
}