.banner {
    justify-content: center;
    height: 55vh;
    background-image: url('/contact/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .overlay {
    opacity: 0.8;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.contact .container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact .container i {
    font-size: 40px;
    color: var(--primary);
}

.contact .container .container-content * {
    font-size: 20px;
}

@media (max-width: 560px) {
    .contact .container i {
        font-size: 20px;
    }

    .contact .container .container-content * {
        font-size: 14px;
    }
}