.banner {
    justify-content: center;
    height: 55vh;
    background-image: url('/mission/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.bold {
    font-weight: 700;
}

.wrapper.booking-wrapper {
    width: 100%;
    justify-content: center;
}

.wrapper.booking-wrapper #bookeo_position {
    display: flex;
}

.wrapper.booking-wrapper iframe {
    width: 100%;
}

.wrapper.booking-wrapper iframe body {
    width: 100%;
}

.wrapper.booking-wrapper iframe body iframe {
    width: 100%;
}

.wrapper.booking-wrapper #pagecustomer {
    width: 1000px;
    margin: 0 auto;
}

.wrapper.booking-wrapper .categoryItems {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    width: 100%;
}

.wrapper.booking-wrapper .categoryItems .item {
    flex: 1 0 30%;
}