.banner {
    justify-content: center;
    height: 55vh;
    background-image: url('/mission/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.margin-top-60 {
    margin-top: 60px;
}

.bold {
    font-weight: 700;
}

.wrapper.booking-wrapper {
    width: 100%;
    justify-content: center;
}

.wrapper.booking-wrapper #bookeo_position {
    display: flex;
}

.wrapper.booking-wrapper iframe {
    width: 100%;
}

.wrapper.booking-wrapper iframe body {
    width: 100%;
}

.wrapper.booking-wrapper iframe body iframe {
    width: 100%;
}

.wrapper.booking-wrapper #pagecustomer {
    width: 1000px;
    margin: 0 auto;
}

.img-small {
    display: none;
}

.tag {
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: var(--borderRadius);
  }

.booking-module {
    justify-content: center;
}

.booking-module .card {
    flex: 0 1 40%;
    height: fit-content;
    background-color: var(--white);
}

.booking-module .card .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.booking-module .card .content h3 {
    font-size: 26px;
}

.booking-module .card .content ul {
    font-size: 14px;
    margin-left: 20px;
}

@media (max-width: 560px) {
    .margin-top-60 {
        margin-top: 40px;
    }

    .img-small {
        display: block;
    }

    .img-large {
        display: none;
    }
}